# ==========================================
# Configuración del Backend API
# ==========================================
# URL base del backend FastAPI (termina en /api/v1/)
NEXT_PUBLIC_API_URL=https://physa-flow.onrender.com/api/v1/

# http://localhost:8000/api/v1/
