# ==========================================
# Configuración del Backend API
# ==========================================
NEXT_PUBLIC_API_URL=

# ==========================================
# Credenciales de Administrador (Entorno local / Fallback)
# ==========================================
ADMIN_EMAIL=
ADMIN_PASSWORD=

# ==========================================
# Llave Secreta para Firmado JWT
# ==========================================
JWT_SECRET=
